@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0C151F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-poppins);

  --font-poppins: var(--font-poppins);
  --font-radio: var(--font-radio);
  --font-spartan: var(--font-spartan);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C151F;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
